.entry {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  & > label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}

/* focusable */
:is(input, textarea, select, .input, button, .btn, [tabindex], .focusable) {
  --focus: oklch(from var(--primary) l c h / 50%);
  transition: all 0.2s ease-in-out;
  transition-property: box-shadow, border, color;

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--focus);
    border-color: var(--primary);
  }

  &:is(:disabled, [aria-disabled='true']) {
    --color: var(--muted);
    cursor: not-allowed;
  }
}

:is(input, textarea, select, .input) {
  appearance: none;
  padding: 0.5rem 0.75rem;
  font: var(--font);
  border: 1px solid var(--border);
  border-radius: 0.25rem;
}

input[type='number'] {
  padding: 0 0 0 0.75rem;
}

.entry-combined {
  display: inline-flex;
  position: relative;

  & > :is(label, .slug) {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--border);
  }

  & > :is(input, textarea, select, .input, button, .btn, label, .slug) {
    /* trick to keep box-shadow rounded */
    border-radius: 0.01px;
    margin-right: -1px;

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      margin-right: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:focus,
    &:focus-visible {
      z-index: 1;
    }
  }
}

:is(button, .btn) {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: oklch(from var(--primary) calc(l - 0.05) c h);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  &._small {
    font-size: 0.75em;
  }
  &._icon {
    padding: 0.5rem;
    position: absolute;
    line-height: 1;

    & > .icon {
      display: block;
    }

    & > svg {
      display: block;
      width: auto;
      height: 1em;
    }
  }
}

@media (prefers-color-scheme: light) {
  :is(button, .btn) {
    background-color: #f9f9f9;
  }
}
